<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% load static %}
<div>    
    <div>
        <div>
          <h1> Incident Management System </h1>
        </div>
        
        {% if request.user.is_authenticated %}
        <div>
            <p> Hello,{{request.user | title}} </p>
        </div>
        <div>
          <p><a href="/signout" >SignOut </a></p>
        </div>
        {% else %}
        <div>
          <p><a href="/signin">SignIn</a> </p>
        </div>
        {% endif %}
    </div>

    


    
 <div >
    {% block content %} {% endblock content %}
 </div>

</body>
</html>
