<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
{% for message in messages %}
    <div>
      <strong>Message:</strong>{{ message }}
    </div>
{% endfor %}

<h1>Register</h1>
<div>
    <form method="post" action="/signup">
    {% csrf_token %}
    <div>
        <label for="username"></label>
        <input type="text" id="username" name="username" placeholder="Username" Required>
    </div>
    <div  class="txt_fld">
        <label for="fname"></label>
        <input type="text" id="fname" name="fname" placeholder="First Name" Required>
    </div>
    <div>
        <label for="lname"></label>
        <input type="text" id="lname" name="lname" placeholder="Last Name" Required>
    </div>
    <div>
        <label for="email"></label>
        <input type="email" id="email" name="email" placeholder="Email" Required>
    </div>
    <div>
        <label for="pass1"></label>
        <input type="password" id="pass1" name="pass1" placeholder="Create Password" Required>
    </div>
    <div>
        <label for="pass2"></label>
        <input type="password" id="pass2" name="pass2" placeholder="Confirm Password" Required>
    </div>
    <button type="submit">Sign up</button>
    </form>
<div>
<div >
    Have an account? 
    <a href="/">Log in</a>
</div>

</div>
</div>
</body>
</html> 